.postbox .inside .DashboardWidget .Portal {

  .dashboard-options {

    .option-field {

      display: flex;
      justify-content: space-between;
      gap: var(--s);

      .field {

        flex: 1;
      }

      button {

        margin-top: var(--s3);
      }
    }
  }
}